
<div class="row">
    <div class="col-md-5">
        <div class="inspiration">
            <h2 class="pri-heading">
                Inspire your inspiration
            </h2>
            <h3 class="sec-heading">
                Simple to use for your app, products showcase and your inspiration
            </h3>
            <p class="para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit
            </p>
            <ul class="brandIcon mb-5 mb-md-0">
                <li>
                    <a href="">
                        <i class="fa-brands fa-apple fa-3x"></i>
                    </a>
                </li>  
                <li>
                    <a href="">
                        <i class="fa-solid fa-robot fa-3x"></i>
                    </a>
                </li>     
                <li> 
                    <a href="">
                        <i class="fa-brands fa-windows fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 offset-md-2">
        <img src="../../../../assets/images/ipad-logo.png" class="ml-5">
    </div>
</div>