


<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h2 class="pri-heading">
            Keep in touch with us
        </h2>
        <p class="para">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        </p>

        <div class="form-group">
            <label for="email" class="sr-only">email</label>
            <input type="email" id="email" placeholder="Enter your email to update" class="form-control">
            <button type="button" class="btn">submit</button>
        </div>
        <div class="icons">
            <a href="javascript:;">
                <i class="fa-brands fa-facebook-f fa-2x text-center"></i>
            </a>
            <a href="javascript:;">
                <i class="fa-brands fa-twitter fa-2x"></i>
            </a>
            <a href="javascript:;">
                <i class="fa-brands fa-google-plus-g fa-2x"></i>
            </a>
            <a href="javascript:;">
                <i class="fa-brands fa-pinterest-p fa-2x"></i>
            </a>
        </div>
    </div>
</div>
