
.pri-heading{
    font-size: 2rem;
    font-weight: bold;
    color: $color-secondary;
    margin-bottom: 1.25rem;
}
.sec-heading{
    font-size: 1.25rem;
    color: $color-secondary;
    margin-bottom: 1.30rem;
}
.para{
    font-size: 1rem;
    color: #555555;
    margin-bottom: 4rem;
}
.info-para{
    color: $color-para-sec;
    font-size: 1rem;
}
.para-tri{
    color: $color-tri;
    margin-top: 15px;
}