

<div class="row details">
    <div class="col-lg-3">
        <ul>
            <li>HALOVIETNAM LTD</li>
            <li>66, Dang Van ngu, Dong Da
                Hanoi, Vietnam</li>
            <li>
                <a href="mailto:contact@halovietnam.com">contact@halovietnam.com</a>
            </li>
            <li>
                <a href="tel:+844 35149182">+844 35149182</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-1 offset-lg-1 col-md-6 col-sm-6">
        <ul>
            <li>Examples</li>
            <li>Shop</li>
            <li>License</li>
        </ul>
    </div>
    <div class="col-lg-1 offset-lg-1 col-md-6 col-sm-6">
        <ul>
            <li>Examples</li>
            <li>Shop</li>
            <li>License</li>
        </ul>
    </div>
    <div class="col-lg-1 offset-lg-1 col-md-6 col-sm-6">
        <ul>
            <li>Examples</li>
            <li>Shop</li>
            <li>License</li>
        </ul>
    </div>
    <div class="col-lg-1 offset-lg-1 col-md-6 col-sm-6">
        <ul>
            <li>Examples</li>
            <li>Shop</li>
            <li>License</li>
        </ul>
    </div>
</div>
